<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum app</title>
</head>
<body>
<h1>Forum app</h1>
{% if user.is_authenticated %}
<p>
    You are signed in as: <a href="{% url 'forum:user_detail' user.id %}">{{user.username}}</a>
</p>
<a href="{% url 'forum:logout' %}">Logout</a>
{% else %}
<a href="{% url 'forum:login' %}">Login</a>
<a href="{% url 'forum:registration' %}">Register</a>
{% endif %}
{% block content %}
{% endblock %}
{% block pagination %}
{% endblock %}
</body>
</html>