{% extends 'forum_web/base_template.html' %}

{% block content %}
<p>Are you sure you want to delete your comment?</p>
<form method="post" action="{% url 'forum:comment_delete' object.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endblock %}