{% extends 'forum_web/base_template.html' %}
{% block content %}

{% for post in posts %}
<div id="post-list-item">
    <h2><a href="{% url 'forum:post_detail' post.id%}">{{post.title}}</a></h2>
    <h3>{{post.user}}</h3>
    <h3>{{post.category}}</h3>
    <h3>{{post.created_at}}</h3>
</div>
{% endfor %}
{% endblock %}

{% block pagination %}
    {% include 'forum_web/pagination_template.html' with objects=posts %}
{% endblock %}