{% extends 'forum_web/base_template.html' %}
{% block content %}
<div id="post-data">
    <h1>{{post.title}}</h1>
    <p>Category: {{post.category}}</p>
    <p>Created at: {{post.created_at}}</p>
    <p>Posted by: {{post.user}}</p>
    <p>{{post.text}}</p>
</div>
<div id="comment-list">
    {% for comment in comments %}
        <div id="comment-item">
            {{ comment.user }}
            {{ comment.created_at }}
            {{ comment.text }}
        </div>
    {% if comment.user.id == user.id %}
    <a href="{% url 'forum:comment_delete' comment.id %}">Delete comment</a>
    {% endif %}
    {% endfor %}
</div>
{% if user.is_authenticated %}
<form method="post" action="{% url 'forum:comment_create' %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="hidden" name="post" value="{{post.id}}">
    <input type="submit" value="Comment">
</form>
{% endif %}
{% endblock %}