{% extends 'forum_web/base_template.html' %}

{% block content %}

<h1>{{ view_type }} post</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{{ view_type }}">
</form>
{% endblock %}