{% extends 'forum_web/base_template.html' %}

{% block content %}
<h3>{{ user.username }}</h3>
<a href="{% url 'forum:post_create' %}">Create post</a>
<h4>Your posts:</h4>
<ul>
    {% for post in posts %}
    <li>
        <a href="{% url 'forum:post_detail' post.id %}">{{ post.title }}</a>
        <a href="{% url 'forum:post_update' post.id %}">Update post</a>
        <a href="{% url 'forum:post_delete' post.id %}">Delete post</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}